@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

.parallax-container {
  position: relative;
  height: 640px;
  width: 100%;
  background-image: url('./images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow: hidden;
}

/*move left branch down on scroll*/

.left-branch {
  position: absolute;
  z-index: 999;
}

/*move right branch up on scroll*/

.right-branch {
  position: absolute;
  width: 100%;
  bottom: 0px;
  z-index: 999;
}

.vader {
  position: absolute;
  margin: 0 auto;
}

.vader-title-container {
  height: 100vh;
  background: black;
}

.vader-title-container h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  color: white;
  background: black;
}

.lorem {
  margin-top: 20vh;
  background: black;
}

@media (max-width: 425px) {
  .parallax-container {
    width: 100%;
    height: 200px !important;
  }
  .left-branch {
    position: absolute;
    z-index: 999;
    width: 100%;
    bottom: 0;
  }
  .right-branch {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 999;
  }
  .vader {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

@media (max-width: 768px) {
  .parallax-container {
    width: 100%;
    height: 400px
  }
  .left-branch {
    position: absolute;
    z-index: 999;
    width: 100%;
    bottom: 0;
  }
  .right-branch {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 999;
  }
  .vader {
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}
